[Desktop Entry]
Name=Power Manager
Comment=Power management daemon
Icon=gnome-power-manager
Exec=gnome-power-manager
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-power-manager
X-GNOME-Bugzilla-Component=gnome-power-manager
X-GNOME-Bugzilla-Version=2.30.0
X-GNOME-Bugzilla-ExtraInfoScript=gnome-power-bugreport.sh
#X-GNOME-AutoRestart=true
X-Ubuntu-Gettext-Domain=gnome-power-manager

